{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Se connecter{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">Pseudo ou mot de passe incorrect</div>
    {% endif %}
    {#
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    #}

    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img src="{{ asset('images/logo_large.png') }}" height="64" alt=""></a>
        </div>
        <form method="post" class="card card-md">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Se connecter</h2>
                <div class="mb-3">
                    <label for="inputUsername">Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>
                <div class="mb-2">
                    <label for="inputPassword" class="form-label">
                        Mot de passe
                        <span class="form-label-description">
                </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>

                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                </div>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>

{% endblock %}