{% extends 'base.html.twig' %}

{% block title %}
    Sortir.com | Enregistrer un utilisateur
{% endblock %}

{% block body %}


    {{ form_start(registrationForm) }}

    <div class="container-tight">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Enregistrer un utilisateur</h3>
        </div>
        <div class="card-body">
            <div class="mb-2">
                Pseudo :
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2">
                Nom :
                {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2">
                Prénom :
                {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2">
                Téléphone :
                {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="mb-2">
                Email :
                {{ form_widget(registrationForm.mail, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="mb-2">
                Campus :
                {{ form_widget(registrationForm.college, {'attr': {'class': 'form-select'}}) }}

            </div>
            <div class="mb-2">
                {{ form_label(registrationForm.plainPassword)}} :
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-select'}}) }}

            </div>


            <br />

            <button type="submit" class="btn btn-primary w-100">Enregistrer</button>

        </div>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}