{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Accueil{% endblock %}

{% block body %}

    {# FILTER #}
    <div class="col-lg-12" style="margin-bottom: 1em">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Filtrer les sorties</h3>
            </div>
            <div class="card-body">

                {{ form_start(form) }}

                <div class="row">
                    <div class="col-lg-6 mb-3">
                        {{ form_label(form.college) }}
                        <div>
                            {{ form_widget(form.college, {'attr': { 'class': 'form-select'}}) }}
                        </div>

                    </div>

                    <div class="col-lg-6 mb-3">

                        {{ form_label(form.toSearch) }}
                        <div>
                            {{ form_widget(form.toSearch, {'attr': { 'class': 'form-control'}}) }}
                        </div>
                    </div>





                    <div class="col-lg-6 mb-3">

                        {{ form_label(form.startDate) }}
                        <div>
                            {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="col-lg-6 mb-3">

                        {{ form_label(form.endDate) }}
                        <div>
                            {{ form_widget(form.endDate, {'attr': {'class': 'form-control',}}) }}
                        </div>

                    </div>

                    <div class="col-lg-3 mt-3">
                        <label class="form-check">
                            {{ form_widget(form.isOwner, {'attr': { 'class': 'form-check-input'}}) }}
                            <span class="form-check-label">{{ form_label(form.isOwner) }}</span>
                        </label>
                    </div>

                    <div class="col-lg-3 mt-3">
                        <label class="form-check">
                            {{ form_widget(form.ameIInscrit, {'attr': { 'class': 'form-check-input'}}) }}
                            <span class="form-check-label">{{ form_label(form.ameIInscrit) }}</span>
                        </label>
                    </div>

                    <div class="col-lg-3 mt-3">
                        <label class="form-check">
                            {{ form_widget(form.ameIUninscrit, {'attr': { 'class': 'form-check-input'}}) }}
                            <span class="form-check-label">{{ form_label(form.ameIUninscrit) }}</span>
                        </label>
                    </div>

                    <div class="col-lg-3 mt-3">
                        <label class="form-check">
                            {{ form_widget(form.journeysPassed, {'attr': { 'class': 'form-check-input'}}) }}
                            <span class="form-check-label">{{ form_label(form.journeysPassed) }}</span>
                        </label>
                    </div>






                </div><br />
                <button type="submit" class="btn btn-primary text-center">Rechercher</button>

                {{ form_end(form) }}







                {#
                <div class="mb-3">
                    <label class="form-label">Campus</label>
                    <div class="row g-2">
                        <div class="col-5">
                            <select name="college[name]" class="form-select">
                                {% for college in colleges %}
                                    <option value="{{ college.name }}">{{ college.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                #}

            </div>
        </div>
    </div>


    {# LIST #}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sorties</h3>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{ path('journey_create') }}" class="btn btn-primary d-none d-sm-inline-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            Créer une sortie
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="min-height: 200px">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Cloture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for journey in journeys %}

                    <tr>
                        <td>
                            {{ journey.name }}
                        </td>
                        <td>
                            {{ journey.startingDate|date('d/m/Y H:i') }}
                        </td>
                        <td>
                            {{ journey.deadlineDate|date('d/m/Y') }}
                        </td>
                        <td>
                            {% set nb = 0 %}

                            {% for user in journey.users %}

                                {% set nb = loop.length %}

                            {% endfor %}

                            {{ nb }}


                            /
                            {{ journey.nbInscriptionMax }}
                        </td>
                        <td>
                            {{ journey.status.name }}
                        </td>
                        <td>
                            {% for jUser in journey.users %}

                                {% if user.username == jUser.username %}
                                    X
                                {% endif %}

                            {% endfor %}
                        </td>
                        <td>
                            {{ journey.user.username }}
                        </td>
                        <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{{ path('journey_view', {'id': journey.id}) }}">
                                  Afficher
                                </a>

                                  {# {% for users in journey.users %}
                                      {% if user.username != users.username %}#}
                                      <a class="dropdown-item" href="{{ path('journey_register', {'id': journey.id}) }}">
                                          S'inscrire
                                      </a>
                                  {# {% endif %}{% endfor %} #}


                                  {% for users in journey.users %}{% if user.username == users.username %}
                                      <a class="dropdown-item" href="{{ path('journey_quit', {'id': journey.id}) }}">
                                          Se désister
                                      </a>
                                  {% endif %}{% endfor %}

                              </div>
                            </span>
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
