{% extends 'base.html.twig' %}

{% block title %}
    Sortir.com | Pannel admin
{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Villes</h3>
            </div>
            <div class="card-body">

                {{ form_start(form) }}

                {{ form_label(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-select'}}) }}

                <br />

                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

                <br />

                {{ form_label(form.Street) }}
                {{ form_widget(form.Street, {'attr': {'class': 'form-control'}}) }}

                <br />

                {{ form_label(form.x) }}
                {{ form_widget(form.x, {'attr': {'class': 'form-control'}}) }}

                <br />

                {{ form_label(form.y) }}
                {{ form_widget(form.y, {'attr': {'class': 'form-control'}}) }}

                <br />

                <button class="btn btn-primary">Modifier</button>
                <a href="{{ path('main') }}"><button type="button" class="btn">Cancel</button></a>


                {{ form_end(form) }}


            </div>
        </div>

    </div>

{% endblock %}