{% extends 'base.html.twig' %}

{% block title %}
    Sortir.com | Pannel admin
{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Supprimer un lieu</h3>
            </div>
            <div class="card-body">

                <p><span class="font-weight-bold">Lieu : </span>{{place.name}}</p>
                <p><span class="font-weight-bold">Rue : </span>{{place.street}}</p>
                <p><span class="font-weight-bold">Ville : </span>{{place.city.name}}</p>
                <p><span class="font-weight-bold">Code postal : </span>{{place.city.postal}}</p>
                <p><span class="font-weight-bold">Latitude : </span>{{place.x}}</p>
                <p><span class="font-weight-bold">Longitude : </span>{{place.y}}</p>

                {{ form_start(form) }}

                <button class="btn btn-primary">Supprimer</button>
                <a href="{{ path('main') }}"><button type="button" class="btn">Cancel</button></a>


                {{ form_end(form) }}


            </div>
        </div>

    </div>

{% endblock %}