{% extends 'base.html.twig' %}

{% block title %}
    Sortir.com | Pannel admin
{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Supprimer un lieu</h3>
            </div>
            <div class="card-body">


                <p><span class="font-weight-bold">En supprimant ce lieu vous annulerez toutes les sorties qui ne sont pas en cours.</span></p>

                <p><span class="font-weight-bold">Lieu sélectionné : </span>{{place.name}}</p>

                <p><span class="font-weight-bold">Sorties associés :</span><br />
                {% for journey in place.journey %}
                    {{ journey.name }},
                {% endfor %}



                {{ form_start(form) }}

                <button class="btn btn-primary">Supprimer</button>
                <a href="{{ path('main') }}"><button type="button" class="btn">Cancel</button></a>

                {{ form_end(form) }}


            </div>
        </div>

    </div>

{% endblock %}