{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.username }}
{% endblock %}

{% block body %}
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img src="{{ asset('images/.png') }}" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Profil de l'utilisateur</h2>
                <div class="mb-2">
                    Pseudo : {{ user.username }}
                </div>
                {% if user.avatar %}
                    <div class="mb-2">
                        <img src="{{ asset('avatars/' ~ user.avatar) }}" alt="{{ user.username }}">
                    </div>
                {% endif %}
                <div class="mb-2">
                    Nom : {{ user.lastname }}
                </div>
                <div class="mb-2">
                    Prénom : {{ user.firstname }}
                </div>
                <div class="mb-2">
                    Téléphone : +33{{ user.phone }}
                </div>
                <div class="mb-2">
                    Email : {{ user.mail}}
                </div>
                <div class="mb-2">
                    Campus : {{ user.college.name }}
                </div>


            </div>
        </div>
    </div>
    </div>

{% endblock %}