{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ user.username }}
{% endblock %}

{% block body %}


    <div class="container-tight text-center">
        <div class="card">
            <div class="card-body text-center">
                <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{ asset('avatars/' ~ user.avatar) }})"></span>
                <h3 class="m-0 mb-1">{{ user.username }}</h3>
                <div class="text-muted">{{ user.firstname }} {{ user.lastname }}</div>
                <br />
                <div class="text-muted">{{ user.phone }}</div>
                <div class="text-muted">{{ user.mail}}</div>
                <div class="text-muted">{{ user.college.name }}</div>

                <br />

            </div>
        </div>
    </div>


{% endblock %}