{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Changer le mot de passe
{% endblock %}

{% block body %}

    {{ form_start(form) }}


    <div class="container-tight">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Modifier mon mot de passe</h3>
            </div>
            <div class="card-body">

                <div class="mb-2">
                    Mot de passe :
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-2">
                    Répéter le mot de passe :
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>


                <br />

                <button type="submit" class="btn btn-primary w-100">Enregistrer le nouveau mot de passe</button>

            </div>
        </div>

        {{ form_end(form) }}
    </div>





    </div>
{% endblock %}