{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Changer le mot de passe
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img src="{{ asset('images/.png') }}" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Modifier le mot de passe</h2>
                {{ form_widget(form) }}


            </div>

            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Enregistrer le nouveau mot de passe</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}