{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ app.user.username }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
                <h3 class="card-title">Mon profil</h3>
        </div>
        <div class="card-body">
            <div class="mb-2">
                Pseudo : {{ app.user.username }}
            </div>
            <div class="mb-2">
                Nom : {{ app.user.lastname }}
            </div>
            <div class="mb-2">
                Prénom : {{ app.user.firstname }}
            </div>
            <div class="mb-2">
                Téléphone : {{ app.user.phone }}
            </div>
            <div class="mb-2">
                Email : {{ app.user.mail}}
            </div>
            <div class="mb-2">
                Campus : {{ app.user.college.name }}
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ path('profile_update') }}">
                        <button type="submit" class="btn btn-primary w-100">modifier mon profil</button>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('edit_password') }}">
                        <button type="submit" class="btn btn-primary w-100">modifier mon mot de passe</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

{% endblock %}