{% extends 'base.html.twig' %}

{% block title %}Sortir.com | {{ app.user.username }}{% endblock %}

{% block body %}

    <div class="container-tight text-center">
            <div class="card">
                <div class="card-body text-center">
                    <span class="avatar avatar-xl mb-3" style="background-image: url({{ asset('avatars/' ~ app.user.avatar) }});"></span>
                    <h3 class="m-0 mb-1">{{ app.user.username }}</h3>
                    <div class="text-muted">{{ app.user.firstname }} {{ app.user.lastname }}</div>
                    <br />
                    <div class="text-muted">{{ app.user.phone }}</div>
                    <div class="text-muted">{{ app.user.mail}}</div>
                    <div class="text-muted">{{ app.user.college.name }}</div>

                    <br />

                    <a href="{{ path('profile_update') }}">
                        <button type="submit" class="btn btn-primary">modifier mon profil</button>
                    </a>
                    <a href="{{ path('edit_password') }}">
                        <button type="submit" class="btn btn-primary">modifier mon mot de passe</button>
                    </a>

            </div>
        </div>
    </div>


{% endblock %}