{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Nouvelle sortie{% endblock %}

{% block body %}



<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Nouvelle sortie</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            {{ form_label(form.name) }}
            <div>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <br />

            {{ form_label(form.startingDate) }}
            {{ form_widget(form.startingDate, {'attr': {'class': 'form-control'}}) }}

            <br />

            {{ form_label(form.deadlineDate) }}
            {{ form_widget(form.deadlineDate, {'attr': {'class': 'form-control'}}) }}

            <br />

            {{ form_label(form.nbInscriptionMax) }}
            {{ form_widget(form.nbInscriptionMax, {'attr': {'class': 'form-control'}}) }}

            <br />

            {{ form_label(form.duration) }}
            {{ form_widget(form.duration, {'attr': {'class': 'form-control', 'type': 'number'}}) }}

            <br />

            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}

            <br />

            <label>Campus :</label>
            <span class="font-weight-bold">{{ user.college.name }}</span>

            <br /><br />

            <label for="city" class="required">Ville : </label>
            <select id="city" oninput="getCity(this)" class="form-select">
                <option value="NULL">Sélectionnez une ville</option>
                {% for city in citys %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>

            <br />

            {{ form_label(form.place) }}
            {{ form_widget(form.place, {'attr' : {
                'class': 'form-select',
                'oninput': 'getPlaceInfo(this)',
            }}) }}

            <br />

            <div id="placeInfo">

            </div>

            <br />

            {{ form_widget(form.publish, {'attr' : {
                'class': 'btn btn-primary'
            }}) }}

            {{ form_widget(form.save, {'attr' : {
                'class': 'btn btn-primary'
            }}) }}



            <a href="{{ path('main') }}"><button type="button" class="btn">Cancel</button></a>

            {{ form_end(form) }}



            <script src="{{ asset("js/call.js") }}"></script>

            <script>
                let placeSelect = document.getElementById('journey_creation_place');
                placeSelect.innerHTML = '<option value="NULL">Sélectionnez un lieu</option>'
            </script>




        </div>
    </div>
</div>



{% endblock %}