{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Afficher une sortie{% endblock %}

{% block body %}



    <div class="col-lg-12" style="margin-bottom: 1em">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Afficher une sortie</h3>

                <div class="col-auto ms-auto d-print-none">
                    <h3 class="card-title">Etat : {{ journey.status.name }}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><span class="font-weight-bold">Nom de la sortie : </span>{{journey.name }}</p>
                        <p><span class="font-weight-bold">Date et heure de la sortie : </span>{{journey.startingDate|date('d/m/y H:i') }}</p>
                        <p><span class="font-weight-bold">Date limite d'inscription : </span>{{journey.deadlineDate|date('d/m/y') }}</p>
                        <p><span class="font-weight-bold">Nombre de places : </span>{{journey.nbInscriptionMax}}</p>
                        <p><span class="font-weight-bold">Durée : </span>{{journey.duration}} minutes</p>
                        <p><span class="font-weight-bold">Description et infos : </span>{{journey.description}}</p>
                    </div>
                    <div class="col-md-6">
                        <p><span class="font-weight-bold">Campus : </span>{{journey.college.name}}</p>
                        <p><span class="font-weight-bold">Lieu : </span>{{journey.place.name}}</p>
                        <p><span class="font-weight-bold">Rue : </span>{{journey.place.street}}</p>
                        <p><span class="font-weight-bold">Code postal : </span>{{journey.place.city.postal}}</p>
                        <p><span class="font-weight-bold">Latitude : </span>{{journey.place.x}}</p>
                        <p><span class="font-weight-bold">Longitude : </span>{{journey.place.y}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# LIST #}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des participants inscrits</h3>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for user in journey.users %}

                        <tr>
                            <td>
                                {% if user.username != app.user.username %}
                                    <div class="d-flex py-1 align-items-center">
                                        <span class="avatar me-2" style="background-image: url({{ asset('avatars/' ~ user.avatar) }})"></span>
                                        <div class="flex-fill">
                                            <div class="font-weight-medium">
                                                <a href="{{ path('profile_details_user', {'username' : user.username}) }}">
                                                    {{ user.username }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}

                                    <div class="d-flex py-1 align-items-center">
                                        <span class="avatar me-2" style="background-image: url({{ asset('avatars/' ~ user.avatar) }})"></span>
                                        <div class="flex-fill">
                                            <div class="font-weight-medium">
                                                {{ user.username }}
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </td>
                            <td>
                                {{ user.firstname }} {{ user.lastname|upper }}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}